html, body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
cursor: pointer;
}

header{
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),  url(/img/Background-Image-Challange.png);
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}

.top-menu{
    color: white;
    list-style: none;
    display: inline;
    padding: 10px;
    overflow: hidden;
    display: flex ;
    align-content: center ;
    align-self: center ;
    justify-content: center ;
    font-size: 20px;
}

.image-logo {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-content: flex-start;
}

.top-menu li {
    float: left;
    
}

.top-menu a {
    text-decoration: none;
    color: white;
    padding: 20px;
    
}


.hero-container-one{
    color: white;
    -webkit-transition: 0.6s ease;
  transition: 0.4s ease;
}

.hero-container-one h1 {
    padding: 30px; 
    font-size: 72px; 
    font-weight: 400;
    position: absolute;
    top: 30%;
    left: 10%;
    line-height: 82px;
    letter-spacing: -4px;
}

.hero-container-one p {
    position: absolute;
    top: 65%;
    left: 12%;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.2px;
    
}

.hero-container-two{
    position: absolute;
    top: 36%;
    left: 60%;
}

.hero-container-two h4 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 18px;
  font-weight: 500;
  line-height: 28px;
    letter-spacing: 2px;
    
}

.sign-up-button{
    background-color : #2c99ed; 
    color: white;
    width: 415px;
    padding: 20px;
    border: none;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    font-weight: 500;
    font-size: 16px;
}

.sign-up-button:hover{
    background-color : #1987db;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);; 
    cursor: pointer;
}



.form-style{
    width: 398px;
    height: 50px;
    border-top: 1px solid grey ;
    border-left: 1px solid grey ;
    border-right: 1px solid grey ;
    padding: 5px;
    padding-left: 10px;
    background-color: rgba(220,220,220, .2) ;
    color: white;
    letter-spacing: 2px;
    font-size: 12pt;
}

.service-agreement{
    color: grey;
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    justify-content: center;

}


.bottom-menu {
    color: white;
    list-style: none;
    display: inline;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    top: 83%;
    display: flex;
    align-content: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
}

.bottom-menu li {
    float: left;
    text-transform: uppercase;
    font-weight: 200;
}

.bottom-menu a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    
}

.image{
    position: absolute; 
    top: 3%; 
    left: 2%; 
}

.hamburger-menu{
   display: none;
}

/*---responsive-media-queries--*/

@media only screen and (min-width: 991px) and (max-width: 1024px){

    .top-menu{
        font-size: 14pt;
        padding: 30px;
        overflow: hidden;
        display: flex ;
        align-content: center ;
        align-self: center ;
        justify-content: center ;
    }

    .hero-container-one{
        color: white;
        -webkit-transition: 0.6s ease;
      transition: 0.4s ease;
    }
    
    .hero-container-one h1 {
        padding: 30px; 
        font-size: 72px; 
        font-weight: 400;
        position: absolute;
        top: 8%;
        left: 20%;
        line-height: 82px;
        letter-spacing: -4px;
    }
    
    .hero-container-one p {
        position: absolute;
        top: 32%;
        left: 23%;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.2px;
        
    }
    
    .hero-container-two{
        position: absolute;
        top: 45%;
        left: 25%;
    }
    
    .hero-container-two h4 {
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 18px;
      font-weight: 500;
      line-height: 28px;
        letter-spacing: 2px;
        
    }

    .bottom-menu{
        
    position: absolute;
    top: 83%;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    }

    .service-agreement{
        font-size: 10px;
        padding: none;
    }


}

@media only screen and (min-width: 660px) and (max-width: 990px) {
    /* For normal desktop: */

    .image{
        position: absolute; 
        top: 3%; 
        left: 3%; 
    }
    
    
    .top-menu{
        font-size: 14pt;
        padding: 20px;
        overflow: hidden;
        display: flex ;
        align-content: center ;
        align-self: flex-end ;
        justify-content: center ;
    }

    .hero-container-one{
        color: white;
        -webkit-transition: 0.6s ease;
      transition: 0.4s ease;
    }
    
    .hero-container-one h1 {
        padding: 30px; 
        font-size: 60px; 
        font-weight: 400;
        position: absolute;
        top: 4%;
        left: 20%;
        line-height: 65px;
        letter-spacing: -4px;
    }
    
    .hero-container-one p {
        position: absolute;
        top: 38%;
        left: 24%;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.2px;
        
    }
    
    .hero-container-two{
        position: absolute;
        top: 48%;
        left: 25%;
    }
    
    .hero-container-two h4 {
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 18px;
      font-weight: 500;
      line-height: 28px;
        letter-spacing: 2px;
        
    }

    .bottom-menu{
    padding: 5px;
    position: absolute;
    top: 95%;
    left: 25%;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    font-size: 10px;
    }

    .service-agreement{
        padding: none;
    }

    .service-agreement-link{
        padding: none;
    }

    .form-style{
        width: 398px;
        height: 40px;
        border-top: 1px solid grey ;
        border-left: 1px solid grey ;
        border-right: 1px solid grey ;
        padding: 5px;
        padding-left: 10px;
        background-color: rgba(220,220,220, .2) ;
        color: white;
        letter-spacing: 2px;
        font-size: 12pt;
    }
  
    .hamburger-menu{
        display: none;
        
    }



  }

  @media only screen and (max-width: 660px) {

    .image{
        position: absolute;
        left: 37%;
    }
    
    
    .top-menu{
       display: none;
    }

    .hero-container-one{
        color: white;
        -webkit-transition: 0.6s ease;
      transition: 0.4s ease;
    }
    
    .hero-container-one h1 {
        padding: 30px; 
        font-size: 40px; 
        font-weight: 400;
        position: absolute;
        top: 6%;
        left: 12%;
        line-height: 40px;
        letter-spacing: -2px;
    }
    
    .hero-container-one p {
        position: absolute;
        top: 29%;
        left: 20%;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: -0.2px;
        width: 68%;
    }
    
    .hero-container-two{
        position: absolute;
        top: 40%;
        left: 12%;
    }
    
    .hero-container-two h4 {
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 18px;
      font-weight: 500;
      line-height: 28px;
        letter-spacing: 2px;
        
    }

    .bottom-menu{
   
    position: absolute;
    top: 90%;
    
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    font-size: 8px;
    }

    .service-agreement{
        padding: none;
    }

    .service-agreement-link{
        padding: none;
    }

    .form-style{
        width: 280px;
        height: 35px;
        border-top: 1px solid grey ;
        border-left: 1px solid grey ;
        border-right: 1px solid grey ;
        padding: 5px;
        padding-left: 10px;
        background-color: rgba(220,220,220, .2) ;
        color: white;
        letter-spacing: 2px;
        font-size: 12pt;
    }
  
    .sign-up-button{
        background-color : #2c99ed; 
        color: white;
        width: 297px;
        padding: 20px;
        border: none;
        border-bottom-right-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
        font-weight: 500;
        font-size: 16px;
    }

    .hamburger-menu{
        display: flex;
    }

    .top-menu{
        display: flex;
        position: absolute;
        left: 80%;
    
    }
    
    .list-menu{
       display: none;
    }

    

  }

  
  
 
  @media only screen and (min-device-width: 400px) and (max-device-width: 660px) {
    /* For mobile-device: */
   
    .image{
        position: absolute;
        left: 37%;
    }
    
    
    .top-menu{
       display: none;
    }

    .hero-container-one{
        color: white;
        -webkit-transition: 0.6s ease;
      transition: 0.4s ease;
    }
    
    .hero-container-one h1 {
        padding: 30px; 
        font-size: 40px; 
        font-weight: 400;
        position: absolute;
        top: 6%;
        left: 12%;
        line-height: 40px;
        letter-spacing: -2px;
    }
    
    .hero-container-one p {
        position: absolute;
        top: 29%;
        left: 20%;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: -0.2px;
        width: 68%;
    }
    
    .hero-container-two{
        position: absolute;
        top: 40%;
        left: 12%;
    }
    
    .hero-container-two h4 {
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 18px;
      font-weight: 500;
      line-height: 28px;
        letter-spacing: 2px;
        
    }

    .bottom-menu{
   
    position: absolute;
    top: 90%;
    
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    font-size: 8px;
    }

    .service-agreement{
        padding: none;
    }

    .service-agreement-link{
        padding: none;
    }

    .form-style{
        width: 280px;
        height: 35px;
        border-top: 1px solid grey ;
        border-left: 1px solid grey ;
        border-right: 1px solid grey ;
        padding: 5px;
        padding-left: 10px;
        background-color: rgba(220,220,220, .2) ;
        color: white;
        letter-spacing: 2px;
        font-size: 12pt;
    }
  
    .sign-up-button{
        background-color : #2c99ed; 
        color: white;
        width: 297px;
        padding: 20px;
        border: none;
        border-bottom-right-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
        font-weight: 500;
        font-size: 16px;
    }

    .hamburger-menu{
        display: flex;
        
    }

    .top-menu{
        display: flex;
        position: absolute;
        left: 80%;
    
    }
    
    .list-menu{
       display: none;
    }

}

    @media only screen and  (max-device-width: 399px){

        .image{
            position: absolute;
            left: 37%;
        }
        
        

    
        .hero-container-one{
            color: white;
            -webkit-transition: 0.6s ease;
          transition: 0.4s ease;
        }
        
        .hero-container-one h1 {
            padding: 30px; 
            font-size: 35px; 
            font-weight: 400;
            position: absolute;
            top: 6%;
            left: 12%;
            line-height: 36px;
            letter-spacing: -2px;
        }
        
        .hero-container-one p {
            position: absolute;
            top: 29%;
            left: 20%;
            font-size: 15px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: -0.2px;
            width: 68%;
        }
        
        .hero-container-two{
            position: absolute;
            top: 40%;
            left: 12%;
        }
        
        .hero-container-two h4 {
            text-transform: uppercase;
            color: white;
            text-align: center;
            font-size: 18px;
          font-weight: 500;
          line-height: 28px;
            letter-spacing: 2px;
            
        }
    
        .bottom-menu{
       
        position: absolute;
        top: 92%;
        
        display: flex;
        align-content: center;
        align-self: center;
        justify-content: center;
        font-size: 8px;
        }
    
        .service-agreement{
            padding: none;
            font-size: 10px;
        }
    
        .service-agreement-link{
            padding: none;
            font-size: 10px !important;
        }
    
        .form-style{
            width: 280px;
            height: 35px;
            border-top: 1px solid grey ;
            border-left: 1px solid grey ;
            border-right: 1px solid grey ;
            padding: 5px;
            padding-left: 10px;
            background-color: rgba(220,220,220, .2) ;
            color: white;
            letter-spacing: 2px;
            font-size: 12pt;
        }
      
        .sign-up-button{
            background-color : #2c99ed; 
            color: white;
            width: 297px;
            padding: 20px;
            border: none;
            border-bottom-right-radius: 5px 5px;
            border-bottom-left-radius: 5px 5px;
            font-weight: 500;
            font-size: 16px;
        }
    
        .hamburger-menu{
            display: flex;
            
        }

        .top-menu{
            display: flex;
            position: absolute;
            left: 80%;
        
        }
        
        .list-menu{
           display: none;
        }
    }

    @media only screen and  (max-device-width: 320px){

        .image{
            position: absolute;
            left: 37%;
        }
        
        .top-menu{
            display: flex;
            position: absolute;
            left: 80%;
        
        }
        
        .list-menu{
           display: none;
        }
    
        .hero-container-one{
            color: white;
            -webkit-transition: 0.6s ease;
          transition: 0.4s ease;
        }
        
        .hero-container-one h1 {
            padding: 30px; 
            font-size: 25px; 
            font-weight: 400;
            position: absolute;
            top: 6%;
            left: 12%;
            line-height: 26px;
            letter-spacing: -1px;
        }
        
        .hero-container-one p {
            position: absolute;
            top: 29%;
            left: 20%;
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: -0.2px;
            width: 68%;
        }
        
        .hero-container-two{
            position: absolute;
            top: 40%;
            left: 18%;
        }
        
        .hero-container-two h4 {
            text-transform: uppercase;
            color: white;
            text-align: center;
            font-size: 18px;
          font-weight: 500;
          line-height: 28px;
            letter-spacing: 2px;
            
        }
    
        .bottom-menu{
       
        display: none;
        }
    
        .service-agreement{
            padding: none;
            font-size: 10px;
        }
    
        .service-agreement-link{
            padding: none;
            font-size: 10px !important;
        }
    
        .form-style{
            width: 180px;
            height: 35px;
            border-top: 1px solid grey ;
            border-left: 1px solid grey ;
            border-right: 1px solid grey ;
            padding: 5px;
            padding-left: 10px;
            background-color: rgba(220,220,220, .2) ;
            color: white;
            letter-spacing: 2px;
            font-size: 12pt;
        }
      
        .sign-up-button{
            background-color : #2c99ed; 
            color: white;
            width: 197px;
            padding: 20px;
            border: none;
            border-bottom-right-radius: 5px 5px;
            border-bottom-left-radius: 5px 5px;
            font-weight: 500;
            font-size: 16px;
        }
    
        .hamburger-menu{
            display: flex;
            
        }
    }
  
  
  
  
  
  
  /*---------*/

